.contenedor {
    width: 340px;
    height: 500px;
    padding: 10px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: blanchedalmond;
    display: grid;
    grid: auto/repeat(4, auto);
    gap: 10px;
}
.contenedor div {
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center;
}

table {
    width: 360px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgray;
    border-collapse: collapse;
    margin-top: 2px;
}
table td, table th {
    padding: 10px 20px;
    font-weight: normal;
}
thead {
    background-color: black;
    color: white;
    text-transform: uppercase;
}
tbody > :nth-child(2n + 1) {
    background-color: lightgray;
}
span {
  width:200px;
  font-size:200%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:black;
}

#timer {
    margin-left: 40px;
}

#numeros {
    text-align: center;
}
div.blue {
    background-color: blue;
}
div.red {
    background-color: red;
}
div.yellow {
    background-color: yellow;
}
div.green {
    background-color: green;
}
div.gray {
    background-color: gray;
}
div.orange {
    background-color: orange;
}
div.violet {
    background-color: violet;
}
div.skyblue {
    background-color: skyblue;
}
div.purple {
    background-color: purple;
}
div.greenyellow {
    background-color: greenyellow;
}
div.maroon {
    background-color: maroon;
}
div.aliceblue {
    background-color: aliceblue;
}